body {
    font-family: 'Nunito', sans-serif;
    color: #1c1c1c;
    background-color: #FFFFFF;
}

#fundo2 {
        background-color: #FFFFFF;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 10rem;
}

h2 {
    font-family: 'Asap', sans-serif;
    color: #000000;
    font-size: 3rem;
}

.botao {
        text-decoration: none;
        padding: 10px 30px;  
        font-size: .9em;
        border-radius: 3px;
        background-color: #8d4bf6;
        color: #ffffff;

}

nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #000000f3;
}

nav > a {
            text-decoration: none;
            color: #8d4bf6;
            font-weight: 800;
            font-size: 34px;
            font-family: 'Yellowtail', serif;
}

nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        width: 100%;
}

nav ul li {
            text-align: center;
            width: 100%;
        
}

nav ul li a {
            display: inline-block;
            padding: 10px 0;
            width: 100%;
            text-decoration: none;
            color: #8d4bf6;
}

header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("bannerlogopreto.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: #FFFFFF;
        text-align: center;
        padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    margin-bottom: 2em;
}

#sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 10px 20px 20px;
        background-color: #000000f3;
        color: #ffffff;
}

#sobre h2 {
    color: #ffffff;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #8d4bf6;
    color: #ffffff;
}

#raposas {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        
}

#imagens-raposas {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin-top: 30px;
        flex-wrap: wrap;
}

.descproduto{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

#raposas h2 {
        font-size: 10rem;

}



footer {
            text-align: center;
            padding: 10px;
            background-color: #000000f3;
            color: #FFFFFF;
}

footer a {
                text-decoration: none;
                color: #8d4bf6;
}

@media screen and (min-width: 768px) {

    nav {
            flex-direction: row;
            justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;

    }

    header {
            height: 600px;
            height: 60vh;
            justify-content: center;
    }
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #raposas {
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
    }

    #raposas h2 {
                text-align: center;
                width: 100%;
    }

    #raposas div {
                flex-grow: 1;
                flex-basis: 150px;
                padding: 0 10px;
    }


}

#topo{
        font-family: Arial, Helvetica, sans-serif;
}

#botaorealizado{
        background-color: #8d4bf6;
        color: #ffffff;
}

#imagenspagamento{
        display: flex;
        justify-content: center;
        gap: 3rem;
        text-align: center;
        margin-top: 30px;
        flex-wrap: wrap;
}

.descpagamento{
        display: flex;
        align-items: center;
        
}

#imagenspagamento label{
        font-size: 2em;
}

.tamimg{
        width: 450px;
}

.redondo{
        border-radius: 10px;
}

#pagfinal{
        font-size: 1.5em;
}

#botaopagfinal{
        font-size: 1.4em;
       

}

#fotosrodape{
        display: flex;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        justify-content: center;
        gap: 3rem;

}

#contato{
        background-color: #f5f5f5;

}

#contato p{
        margin: 0;
        padding: 16px;
}

#linharodape{
        margin: 0;
}
