.logo{
    font-family: OpenSans;
    color: #000000;
    font-size: 3em;
}

header, main{
    width: 1140px;
    margin: 0 auto;;
}

header{
    padding-top: 1em;
    padding-bottom: 1em;
}

#tabela-carrinho{
    width: 100%;
}

#tabela-carrinho th, td{
    padding: 0.5em;
    border-bottom: #ddf 1px dotted;
}

#tabela-carrinho th{
    font-size: 1em;
    font-weight: 500;
    text-align: left;
}

#tabela-carrinho td{
    display: table-cell;
    vertical-align: middle;
}

.coluna-pequena{
    width: 8em;
}

.nome-produto{
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
}

.nome-empresa{
    color: #000000;
    text-decoration: none;
}

.preco-produto, #total{
    color: #000000;
    font-weight: 500;
}

.remover-carrinho{
    font-size: 0.8em;
    color: #6c6c6c;
}

.capa{
    height: 7.5em;
}

.coluna-capa{
    width: 8em;
}

.embalar{
    font-weight: 500;
    font-size: 0.9em;
}

.strong{
    font-weight: bold;
}

.estoque{
    color: #ff00ff;
}

.texto-total{
    text-align: right;
}
